*.pyc
*.swp
.DS_Store
.mypy_cache/
.netrwhist
_vim/autoload/plug.vim.old
_vim/plugged/
nvim/plugin/packer_compiled.lua
private/
.idea
# dont commit client secrets
_config/spotify-tui/client.yml

# symlinks
.gitconfig-system-specific-link