changeset = '\033[01m{desc|firstline}\033[0m\n\033[00;34m{rev}\033[0m - \033[00;36m{author|person}\033[0m on \033[00;32m{date|rfc822date}\033[0m \033[00;33m({date|age})\033[0m \033[0;31m[{phase}]\033[0m{branches}{bookmarks}{tags}\n\n'

start_branches = ' '
branch = '\033[0;31m{branch}\033[0m'

start_bookmarks = ' '
bookmark = '\033[0;31m[{bookmark}]\033[0m '
last_bookmark = '\033[0;31m[{bookmark}]\033[0m'

start_tags = ' '
tag = '\033[0;31m{tag}\033[0m, '
last_tag = '\033[0;31m{tag}\033[0m'
