local colors = {
  dark = {
    gui = {
{% for name, color in colors_dark.items() %}
      {{ name }} = "{{ color.hex }}",
{% endfor %}
    },
    cterm = {
{% for name, color in cterm_colors_dark.items() %}
      {{ name }} = "{{ color }}",
{% endfor %}
    },
  },
  light = {
    gui = {
{% for name, color in colors_light.items() %}
      {{ name }} = "{{ color.hex }}",
{% endfor %}
    },
    cterm = {
{% for name, color in cterm_colors_light.items() %}
      {{ name }} = "{{ color }}",
{% endfor %}
    },
  },
}

-- Set background and normal text color
local back = "{{ background }}"
local text = "{{ text }}"

-- Set neovim embedded terminal colors
local term_colors = {
{% for cname in term_colors %}
  term{{ loop.index0 }} = "{{ cname }}",
{% endfor %}
}
