if &background ==? 'dark'
    if s:HAS_GUI
{% for name, color in colors_dark.items() %}
        let s:{{ name }} = "{{ color.hex }}"
{% endfor %}
    else
{% for name, color in cterm_colors_dark.items() %}
        let s:{{ name }} = "{{ color }}"
{% endfor %}
    endif
else
    if s:HAS_GUI
{% for name, color in colors_light.items() %}
        let s:{{ name }} = "{{ color.hex }}"
{% endfor %}
    else
{% for name, color in cterm_colors_light.items() %}
        let s:{{ name }} = "{{ color }}"
{% endfor %}
    endif
endif

" Set background and normal text color
if s:HAS_GUI
    let s:back = s:{{ background }}
    let s:text = s:{{ text }}
else
    let s:back = "NONE"
    let s:text = "NONE"
endif

" Set neovim embedded terminal colors
{% for cname in term_colors %}
call s:Hi("TermColor{{ loop.index0 }}", s:{{ cname }}, s:none)
{% endfor %}
