<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>{theme_name}</string>
    <key>settings</key>
    <array>
        <dict>
            <key>settings</key>
            <dict>
                <key>background</key>
                <string>{base00.hex}</string>
                <key>foreground</key>
                <string>{base05.hex}</string>
                <key>caret</key>
                <string>{base05.hex}</string>
                <key>invisibles</key>
                <string>{base02.hex}</string>
                <key>lineHighlight</key>
                <string>{base01.hex}</string>
                <key>selection</key>
                <string>{{base02.hex}}</string>
            </dict>
        </dict>

        <dict>
            <key>name</key>
            <string>Comment</string>
            <key>scope</key>
            <string>comment</string>
            <key>settings</key>
            <dict>
                <key>foreground</key>
                <string>#75715E</string>
            </dict>
        </dict>

    </array>
    <key>uuid</key>
    <string>{uuid}</string>
    <key>colorSpaceName</key>
    <string>sRGB</string>
    <key>semanticClass</key>
    <string>theme.dark.stylo</string>
</dict>
</plist>
