" Name:    Stylo
" Author:  Stefan Scherfke
" URL: https://gitlab.com/sscherfke/dotfiles/blob/master/_vim/colors/
"
" Switch between light and dark mode by setting "background=dark" or
" "background=light".
"

hi clear
if exists('syntax_on')
    syntax reset
endif

let colors_name = 'stylo'

let s:HAS_GUI = has('gui_running') || exists('neovim_dot_app') || has('gui_vimr') || &termguicolors
let s:VMODE = s:HAS_GUI ? 'gui' : 'cterm'

if &background ==? 'dark'
    if s:HAS_GUI
{% for name, color in colors_dark.items() %}
        let s:{{ name }} = "{{ color.hex }}"
{% endfor %}
    else
{% for name, color in cterm_colors_dark.items() %}
        let s:{{ name }} = "{{ color }}"
{% endfor %}
    endif
else
    if s:HAS_GUI
{% for name, color in colors_light.items() %}
        let s:{{ name }} = "{{ color.hex }}"
{% endfor %}
    else
{% for name, color in cterm_colors_light.items() %}
        let s:{{ name }} = "{{ color }}"
{% endfor %}
    endif
endif

" Set background and normal text color
if s:HAS_GUI
    let s:back = s:{{ background }}
    let s:text = s:{{ text }}
else
    let s:back = "NONE"
    let s:text = "NONE"
endif

" Helpers variables for NONE, bold, ...
let s:none = "NONE"
let s:bold = "bold"
let s:reverse = "reverse"
let s:standout = "standout"
let s:undercurl = "undercurl"
let s:underline = "underline"

function! s:Hi(group, fg, bg, ...)
    " Execute ``hi <group> <VMODE>fg=<fg> <VMODE>bg=<bg> <VMODE>sp=<sp>
    "           <VMODE>=<fmt>``
    let sp  = a:0 >= 1 ? a:1 : s:none
    let fmt = a:0 >= 2 ? a:2 : s:none

    let fg = s:VMODE . "fg=" . a:fg
    let bg = s:VMODE . "bg=" . a:bg
    let sp = s:HAS_GUI ? s:VMODE . "sp=" . sp : ""
    let fmt = s:VMODE . "=" . fmt
    execute "hi" a:group fg bg sp fmt
endfunction

function! s:HiLink(group, target)
    "Execute ``hi link <group> <target>``
    execute "hi link" a:group a:target
endfunction

" General interface

call s:Hi("Normal",        s:text,   s:back)

call s:Hi("Cursor",        s:base00, s:base03)
call s:Hi("CursorLineNr",  s:red,    s:base01)
call s:Hi("CursorLine",    s:none,   s:base01)
call s:Hi("CursorColumn",  s:none,   s:base01)
call s:Hi("ColorColumn",   s:none,   s:base01)

call s:Hi("FoldColumn",    s:base03, s:none)
call s:Hi("LineNr",        s:base03, s:none)
call s:Hi("SignColumn",    s:base03, s:none)

call s:Hi("VertSplit",     s:base02, s:none)
call s:Hi("StatusLine",    s:base06, s:base02)
call s:Hi("StatusLineNC",  s:base05, s:base02)
call s:Hi("TabLine",       s:base05, s:base03)
call s:Hi("TabLineFill",   s:base05, s:base02)
call s:Hi("TabLineSel",    s:base01, s:blue)

call s:Hi("Visual",        s:base07, s:base02)
call s:Hi("Folded",        s:orange, s:base01)

call s:Hi("Pmenu",         s:base05, s:base01)
call s:Hi("PmenuSbar",     s:base05, s:base02)
call s:Hi("PmenuThumb",    s:base05, s:base05)
call s:Hi("PmenuSel",      s:base01, s:green)
call s:Hi("WildMenu",      s:base01, s:green)

call s:Hi("MatchParen",    s:bright_red,     s:none, s:none, s:underline)
call s:Hi("Directory",     s:blue,           s:none)
call s:Hi("IncSearch",     s:orange, s:none, s:none, s:reverse)
call s:Hi("Search",        s:yellow, s:none, s:none, s:reverse)

call s:Hi("NonText",       s:base02, s:none, s:none, s:bold)
call s:Hi("SpecialKey",    s:base02, s:none, s:none, s:bold)
call s:Hi("Title",         s:blue,   s:none, s:none, s:bold)
call s:Hi("ErrorMsg",      s:red,    s:none, s:none, s:reverse)
call s:Hi("WarningMsg",    s:orange, s:none, s:none, s:bold)
call s:Hi("Question",      s:yellow, s:none, s:none, s:bold)
call s:Hi("MoreMsg",       s:blue,   s:none)
call s:Hi("ModeMsg",       s:green,  s:none)

call s:Hi("DiffFile",      s:purple, s:none, s:none, s:bold)
call s:Hi("DiffText",      s:blue,   s:none, s:none, s:reverse)
call s:Hi("DiffAdd",       s:green,  s:none, s:none, s:reverse)
call s:Hi("DiffDelete",    s:red,    s:none, s:none, s:reverse)
call s:Hi("DiffChange",    s:yellow, s:none, s:none, s:reverse)

call s:Hi("Conceal",       s:blue,   s:none)
call s:Hi("SpellBad",      s:none,   s:none, s:bright_red, s:undercurl)
call s:Hi("SpellCap",      s:none,   s:none, s:blue,       s:undercurl)
call s:Hi("SpellRare",     s:none,   s:none, s:magenta,    s:undercurl)
call s:Hi("SpellLocal",    s:none,   s:none, s:cyan,       s:undercurl)

" Highlighting

call s:Hi("Comment",          s:base04,  s:none)

call s:Hi("Constant",         s:cyan,    s:none)
call s:Hi("String",           s:green,   s:none)
call s:HiLink("Character",    "Constant")
call s:HiLink("Number",       "Constant")
call s:HiLink("Boolean",      "Constant")
call s:HiLink("Float",        "Constant")

call s:Hi("Identifier",       s:blue,    s:none)
call s:Hi("Function",         s:blue,    s:none)

call s:Hi("Statement",        s:purple,  s:none)
call s:HiLink("Conditional",  "Statement")
call s:HiLink("Repeat",       "Statement")
call s:HiLink("Label",        "Statement")
call s:HiLink("Operator",     "Statement")
call s:HiLink("Keyword",      "Statement")
call s:HiLink("Exception",    "Statement")

call s:Hi("PreProc",          s:magenta, s:none)
call s:Hi("Include",          s:magenta, s:none)
call s:HiLink("Define",       "Include")
call s:HiLink("Macro",        "Include")
call s:HiLink("PreCondit",    "Include")

call s:Hi("Type",             s:magenta, s:none)
call s:HiLink("StorageClass", "Type")
call s:HiLink("Structure",    "Type")
call s:HiLink("Typedef",      "Type")

call s:Hi("Special",            s:orange,  s:none)
call s:HiLink("SpecialChar",    "Special")
call s:Hi("Tag",                s:green,   s:none)
call s:Hi("Delimiter",          s:magenta, s:none)
call s:HiLink("SpecialComment", "Special")
call s:HiLink("Debug",          "Special")

call s:Hi("Underlined",       s:none,       s:none, s:none, s:underline)
call s:Hi("Ignore",           s:base02,     s:none)
call s:Hi("Error",            s:bright_red, s:none, s:none, s:bold)
call s:Hi("Todo",             s:magenta,    s:none, s:none, s:bold)
call s:Hi("Whitespace",       s:bright_red, s:none)

" Clap
call s:Hi("ClapSpinner",            s:base01, s:blue)
call s:HiLink("ClapInput",   "Visual")
call s:HiLink("ClapDisplay", "Pmenu")
call s:HiLink("ClapPreview", "Pmenu")
call s:HiLink("ClapMatches", "Search")
call s:Hi("ClapCurrentSelection",   s:orange, s:none, s:none, s:bold)
call s:Hi("ClapSelected",           s:green,  s:none, s:none, s:bold.",".s:underline)
call s:Hi("ClapFile",               s:base05, s:none)
call s:Hi("ClapFpath",              s:base05, s:none, s:none, s:bold)
call s:Hi("ClapLinNrColumn",        s:base04, s:none)
for i in range(1, 12)
    call s:Hi("ClapFuzzyMatches".i, s:cyan,   s:none, s:none, s:bold)
endfor

" HTML

call s:Hi("htmlTag",             s:text,   s:none)
call s:Hi("htmlEndTag",          s:text,   s:none)

" Markdown

call s:Hi("markdownCode",  s:purple,    s:none)

" Patch

call s:Hi("diffLine",      s:cyan,      s:none,   s:none,        s:bold)
call s:Hi("diffAdded",     s:green,     s:none,   s:none,        s:none)
call s:Hi("diffRemoved",   s:red,       s:none,   s:none,        s:none)

" Python

" call s:Hi("pythonBuiltinObj",    s:yellow, s:none)
call s:Hi("pythonClassVar",      s:orange, s:none)
call s:Hi("pythonExClass",       s:red,    s:none)

" YAML
call s:Hi("yamlKey",             s:blue,   s:none)

" Lightline color scheme

let s:llcs = {'normal': {}, 'inactive': {}, 'insert': {}, 'replace': {}, 'visual': {}, 'tabline': {}}
" Colors:                      ofg       obg          ifg      ibg
let s:llcs.normal.left =     [[s:base01, s:blue],    [s:base06, s:base02]]
let s:llcs.normal.right =    [[s:base06,  s:base02],  [s:base06, s:base02]]
let s:llcs.inactive.right =  [[s:base05,  s:base02],  [s:base05, s:base02]]
let s:llcs.inactive.left =   [[s:base05,  s:base02],  [s:base05, s:base02]]
let s:llcs.insert.left =     [[s:base01, s:green],   [s:base06, s:base02]]
let s:llcs.replace.left =    [[s:base01, s:orange],  [s:base06, s:base02]]
let s:llcs.visual.left =     [[s:base01, s:magenta], [s:base06, s:base02]]
let s:llcs.normal.middle =   [[s:base05, s:base02]]
let s:llcs.inactive.middle = [[s:base05, s:base02]]
let s:llcs.tabline.left = [[s:base05, s:base03]]
let s:llcs.tabline.tabsel = [[s:base01, s:blue]]
let s:llcs.tabline.middle = [[s:base05, s:base02]]
let s:llcs.tabline.right = [[s:base01, s:bright_red]]
let s:llcs.normal.error = [[s:bright_red, s:base02]]
let s:llcs.normal.warning = [[s:yellow, s:base02]]

let g:lightline#colorscheme#stylo#palette = lightline#colorscheme#fill(s:llcs)

" Reload lightline colors when colorscheme is reloaded (e.g, bg is changed)
if exists('g:loaded_lightline')
    call lightline#init()
    call lightline#colorscheme()
    call lightline#update()
endif

" Set neovim embedded terminal colors
{% for cname in term_colors %}
let g:terminal_color_{{ loop.index0 }} = s:{{ cname }}
{% endfor %}
